body {
  background-color: lightgray;
  font-family: 'Verdana', 'Geneva', 'sans-serif';
  margin-bottom: 100px;
  margin: 0 auto !important;
  width: 80%;
}


@media (max-width: 767px) {
  body {
    width: 98%;
  }
}
